body {
    background: olive;
  }
h1 {
    background-color: brown;
    text-align: center;
}
.intro{
    float: left;
    margin-top: 0;
}
h2{
    margin: auto;
    text-align: center;
    font-size: medium;
}
div.picture{
    text-align: center;
    width: auto;
}